ol{
    border: 1px solid rgba(85, 83, 83,0.5);
    padding:0px;
    margin: 0px;
    border-top:0px; 
    overflow:auto;
}
ul{
padding:0px;
margin: 0px;
width: 161px;
}
ol:hover{
    background-color: aquamarine;
    color:blue;
}
ol.active{
    background-color:aquamarine;
    color:blue;
}